// extends layout
block content
    h1 Financial Intel
    #finintel.container(ng-controller='finintelCtrl')
        .row
            form.navbar-form.pull-right(role='form')
                .form-group
                    input.form-control(type='text', placeholder='Enter Ticker', ng-model='ticker')
                .form-group
                    button.btn.btn-default.pull-right(type='submit', ng-click='getTicker()') Search
        .panel.panel-default
            .panel-heading
                .h3.panel-title(style='text-align: center') Company Overview
            .panel-body
                table.table(id='companytable')
                    thead
                        tr
                            th Ticker
                            th Company Name
                            th Sector
                            th Industry
                            th Country
                            th Market Cap
                            th Next Earnings Date
                    tbody
                        tr
                            td {{overview.ticker}}
                            td {{overview.company_name}}
                            td {{overview.company_sector}}
                            td {{overview.company_industry}}
                            td {{overview.company_country}}
                            td {{overview.market_cap}}M
                            td {{financials.next_earnings_date}}
        br
        .panel.panel-default
           .panel-heading
                .h3.panel-title(style='text-align: center') Profitability & Effectiveness
            .panel-body
                table.table('profitabilitytable')
                    thead
                        tr
                            th Dividend Yield
                            th Return on Assets
                            th Return on Equity
                            th Return on Investment
                            th Current Ratio
                            th Quick Ratio
                            th Long Term Debt/Equity
                            th Debt/Equity
                            th Gross Margin
                            th Operating Margin
                            th Profit Margin
                    tbody
                        tr
                            td {{financials.dividend_yield}}
                            td {{financials.return_on_assets}}
                            td {{financials.return_on_equity}}
                            td {{financials.return_on_investment}}
                            td {{financials.current_ratio}}
                            td {{financials.quick_ratio}}
                            td {{financials.long_term_debt_to_equity}}
                            td {{financials.debt_to_equity}}
                            td {{financials.gross_margin}}
                            td {{financials.operating_margin}}
                            td {{financials.profit_margin}}
        br
        .panel.panel-default
            .panel-heading
                .h3.panel-title(style='text-align: center') Valuation
            .panel-body
                table.table(id='valuationtable')
                    thead
                        tr
                        th Forward Price to Earnings
                        th PEG Ratio
                        th Price to Sales
                        th Price to Book
                        th Price to Cash
                        th Price to FCF
                        th EPS Growth This Year
                        th EPS Growth Next Year
                        th EPS Growth Past 5 Years
                        th EPS Growth Next 5 Years
                        th Sales Growth Past 5 Years
                    tbody
                        tr
                            td {{valuation.forward_price_to_earnings}}
                            td {{valuation.price_earnings_growth}}
                            td {{valuation.price_to_sales}}
                            td {{valuation.price_to_book}}
                            td {{valuation.price_to_cash}}
                            td {{valuation.price_to_fcf}}
                            td {{valuation.eps_growth_this_year}}
                            td {{valuation.eps_growth_next_year}}
                            td {{valuation.eps_growth_past_five_years}}
                            td {{valuation.eps_growth_next_five_years}}
                            td {{valuation.sales_growth_past_five_years}}

        br
        .panel.panel-default
            .panel-heading
                .h3.panel-title(style='text-align: center') Strategy
            .panel-body
                table.table.table-condensed
                    thead
                        tr
                            th Ticker
                            th Cycle Position
                            th Macro Strategy
                            th Tactical Strategy
                            th Guidance
                            th Portfolio
                            th Watchlist
                            th
                    tbody
                        tr(ng-repeat='strategy in strategies track by $index')
                            td {{strategy.ticker}}
                            td
                                select(ng-model='strategy.cycle_position') {{strategy.cycle_position}}
                                    option(value='Early') Early
                                    option(value='Mid') Mid
                                    option(value='Late') Late
                            td
                                select(ng-model='strategy.macro_strategy') {{strategy.macro_strategy}}
                                    option(value='Income') Income
                                    option(value='Domestic Growth') Domestic Growth
                                    option(value='Global Growth') Global Growth
                                    option(value='Defensive') Defensive
                            td
                                select(ng-model='strategy.tactical_strategy') {{strategy.tactical_strategy}}
                                    option(value='Inflation Hedge') Inflation Hedge
                                    option(value='Income') Income
                            td
                                select(ng-model='strategy.guidance') {{strategy.guidance}}
                                    option(value='Buy') Buy
                                    option(value='Hold') Hold
                                    option(value='Sell') Sell
                                    option(value='Short') Short
                            td
                                input(type='checkbox', ng-model='strategy.portfolio')
                            td
                                input(type='checkbox', ng-model='strategy.watchlist', ng-change='updateWatchlist(strategy)')
                            td
                                button.btn.btn-primary(ng-click='update(strategy)') Update
        br
        .panel.panel-default
            .panel-heading
                .h3.panel-title(style='text-align: center') Company News
            .panel-body
                table.table(id='articletable')
                    thead
                        tr
                            th Title
                            th Article Date
                            th Thoughts/Response
                    tbody
                        tr(ng-repeat='article in articles')
                            td(style='width: 300px')
                                a(href='/articles/{{article.id}}') {{article.article_title}}
                            td(style='width: 100px') {{article.publication_date | date:'MMM dd yyyy'}}
                            td {{article.thoughts_response}}
        br
        .panel.panel-default
            .panel-heading
                .h3.panel-title(style='text-align: center') Chart
            .panel-body
                table.table(id='charttable')

                    tbody
                    tr
                        td(style='text-align: center')
                            img(src='http://finviz.com/chart.ashx?t={{valuation.ticker}}&ty=c&ta=1&p=d&s=l')

    span #{data}
    script(src='/js/controllers/finintel.js')
