<!DOCTYPE html>
<html>
  <head>
    <title>Knight Capital Management</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="/js/bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="/js/bower_components/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="/js/bower_components/angular-off-canvas/off-canvas.css">
    <link rel="stylesheet" href="/js/bower_components/angular-feeds/app/angular-feeds/angular-feeds.min.css">
    <script src="/js/bower_components/jquery/jquery.min.js"></script>
    <script src="/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <script src="/js/bower_components/angular/angular.min.js"></script>
    <script src="/js/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/js/bower_components/tinymce/tinymce.min.js"></script>
    <script src="/js/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="/js/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="/js/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/js/bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
    <script src="/js/bower_components/ng-socket-io/ng-socket-io.min.js"></script>
    <script src="https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.0%22%2C%22nocss%22%3Atrue%7D%5D%7D"></script>
    <script src="/js/bower_components/angular-feeds/app/angular-feeds/angular-feeds.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/controllers/finintel.js"></script>
  </head>
  <body ng-app="kcmapp">
    <div id="sidebar" ng-controller="indexCtrl" class="navmenu navmenu-fixed-right offcanvas">
      <feed summary="true" url="http://seekingalpha.com/market_currents.xml" count="10"></feed>
    </div>
    <navbar role="navigation" class="navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"> </span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Knight Capital Management</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin<span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#/trading_journal">Trading Journal</a></li>
                  <li><a href="#/finintel">Financial Intel</a></li>
                  <li><a href="#/articles">Articles</a></li>
                  <li><a href="#/strategy">Strategy</a></li>
                </ul>
              </li>
              <li><a>Watchlist</a></li>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="float:right"></li>
            <button type="button" data-toggle="offcanvas" data-target="#sidebar" data-canvas="body" style="display:block" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              <li style="float:right" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Hello ''<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/auth/logout">Logout</a></li>
                </ul>
              </li>
              <li style="float:right" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Hello Guest<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/auth/login">Login</a></li>
                </ul>
              </li>
            </button>
          </ul>
        </div>
      </div>
    </navbar>
    <div ng-view class="container mainpage">
    </div>
  </body>
</html>